* {
    margin: 0;
    padding: 0;
}

.canva {
    background: #f7f5ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 70vmin;
    height: 70vmin;
    background: #e8e0ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ghost {
    position: relative;
    border: 0.5vmin solid black;
    width: 30vmin;
    height: 30vmin;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
}